<% provide(:title, "Welcome") %>

<article>
  <h1 id="singles">
    <i class="fa-solid fa-heart fa-beat" style="color: #f71302;"></i>&nbsp;Singles&nbsp;<i class="fa-solid fa-heart fa-beat" style="color: #f71302;"></i>
  </h1>
  <h2>Connecting Hearts, One Click at a Time</h2>

  <p>Welcome to Singles, the premier online dating platform for meaningful connections in the digital age. Our platform
    is dedicated to helping individuals discover love, friendship, and lasting romantic connections in a secure and
    user-friendly environment. Find your perfect match and explore genuine relationships with ease.
  </p>

  <h2>Join the Singles Community Today</h2>
</article>

<div id="buttons">
  <%= link_to "Sign In", new_user_session_path, class: "btn btn-outline-success btn-lg", id: "landing1", role: "button", "aria-pressed" => "true" %>&nbsp;
  <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-outline-secondary btn-lg", id: "landing2", role: "button", "aria-pressed" => "true" %>

</div>

<article>
  <p>We invite you to explore Singles, create your profile, and begin your journey to find love and connections that
     matter. Your next great story could begin right here.
     Thank you for choosing Singles. We're here to make your dating experience exceptional.
     Questions or feedback? Feel free to reach out to our team. Email: admin@where.singles
  </p>
</article>
  