<div id="<%= dom_id favorite %>">
  <p>
    <strong>Liking user:</strong>
    <%= favorite.liking_user_id %>
  </p>

  <p>
    <strong>Liked user:</strong>
    <%= favorite.liked_user_id %>
  </p>

</div>
