<% provide(:title, "Favorites") %>
<% content_for :h1, 'These are your favorites' %>

<div id="favorites">
  <% @favorites.each do |favorite| %>
    <%= render favorite %>
    <p>
      <%= link_to "Show this favorite", favorite %>
    </p>
  <% end %>
</div>

<%= link_to "New favorite", new_favorite_path %>
