<% provide(:title, "Likes") %>
<% content_for :h1, 'Likes' %>

<% @likes.each do |like| %>
  <p>Like ID: <%= like.id %>, Liking User: <%= like.liking_user_id %>, Liked User: <%= like.liked_user_id %></p>
<% end %>
