<!-- Primary Meta Tags -->
<title>Welcome | Singles</title>
<meta name="title" content="Welcome | Singles" />
<meta name="description" content="The finest dating app" />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content="https://where.singles/" />
<meta property="og:title" content="Welcome | Singles" />
<meta property="og:description" content="" />
<meta property="og:image" content="meta_img.png" />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="https://where.singles/" />
<meta property="twitter:title" content="Welcome | Singles" />
<meta property="twitter:description" content="" />
<meta property="twitter:image" content="meta_img.png" />

<!-- Meta Tags Generated with https://metatags.io -->