<div class="sidebar">
  <ul>
    <li><i class="fa-regular fa-comment-dots"></i>&nbsp;<a href="/chats">Chats</a></li>
    <li><i class="fa-regular fa-star" style="color: #050505;"></i>&nbsp;<a href="/favorites">Favorites</a></li>
    <li><i class="fa-regular fa-thumbs-down" style="color: #050505;"></i>&nbsp;<a href="blocks">Blocked</a></li>
    <li><i class="fa-solid fa-magnifying-glass" style="color: #0a0a0a;"></i>&nbsp;<a href="/search">Search</a><li>
  </ul>
</div>

