<% provide(:title, "Chats") %>
<% content_for :h1, 'My chats' %>
<ul class="list-group">
  <% @chats.each do |chat| %>
    <li class="list-group-item d-flex justify-content-between align-items-center col-6 mx-auto m-1 ">
      <%= link_to chat.receiver.username, chat_path(chat), class: 'stretched-link' %>
    </li>

  <% end %>
</ul>

<%= will_paginate @chats %>
