<% provide(:title, "Chat with #{ @chat.receiver.username }") %>
<% content_for :h1, "Chat with #{ @chat.receiver.username }" %>

<div class="container">
  <%= link_to 'Back to chats', chats_path, class: 'btn btn-outline-primary mb-3' %>
  <div class="card">
    <div class="card-body">
      <% @chat.messages.each do |message| %>
        <% user = User.where(id: [message.author_id]) %>
      <%= user[0].username.capitalize %> : <%= message.content %><hr>
      <% end %>
    </div>
  </div>
  <div class="card-footer">
  </div>
</div>


