<% provide(:title, "Blocked") %>
<% content_for :h1, 'Blocked users' %>

<% @blocked_users.each do |user| %>
  <p><% person =  User.where(:id => user.blocked_id)[0] %></p>
  <%= link_to profile_path(person), class: "text-decoration-none" do %>
    <img src="<%= person.avatar %>" class="rounded-circle" style="width: 50px; height: 50px;" alt="profile picture" />
    <%= person.name.capitalize %>
  <% end %>

<% end %>
