h1 {
  margin-bottom: 40px;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}

h2 {
  text-align: center;
}

h5 {
  font-family: 'Indie Flower', cursive;
}

/* Styling the pagination container */
.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
}

/* Styling the individual pagination links */
.pagination a {
  margin: 5px;
  padding: 5px 10px;
  text-decoration: none;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  color: #333;
  border-radius: 5px;
}

/* Styling the currently active page link */
.pagination .current {
  margin: 5px;
  padding: 5px 10px;
  text-decoration: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: cornflowerblue;
  color: #fff;
}

/* Styling the "previous" and "next" links */
.pagination .previous, .pagination .next {
  font-weight: bold;
}

.navbar {
  border-radius: 30px;
  background: linear-gradient(to left, lavenderblush, lavender);
  opacity: 0.8;
  font-family: "Tahoma", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1.2em;
  margin-top: 15px;
  margin-bottom: 10px;
}

.dropdown-menu {
  border-radius: 10px;
  background: linear-gradient(to left, lavenderblush, lavender);
  opacity: 0.8;
  margin-bottom: 5px;
}

.navbar-toggler {
  border-radius: 70px;
}

body {
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-link:hover {
  color: olive;
}

.card {
  background-color: #eef2ff;
}

