h1 {
  color: #d0d6ec; /* Adjust the blue color to your liking */
  font-size: 3em; /* Adjust size as needed */
  font-weight: bold; /* Makes the text bolder */
  margin-bottom: 40px;
  text-shadow:
          1px 1px 0 #7abfff, /* Light blue shadow to the right and down */
          -1px -1px 0 #0056b3, /* Dark blue shadow to the left and up */
          1px -1px 0 #7abfff, /* Light blue shadow to the right and up */
          -1px 1px 0 #0056b3, /* Dark blue shadow to the left and down */
          0px 4px 5px rgba(0, 0, 0, 0.3), /* Soft shadow for depth */
          0px 7px 10px rgba(0, 0, 0, 0.05), /* Softer shadow for ambiance */
          0px 9px 25px rgba(0, 0, 0, 0.05); /* Softest shadow for glow effect */
  font-family: 'Consolas', 'Arial', sans-serif;
  text-align: center;
}

h2 {
  text-align: center;
}

h4 {
  text-align: center;
  margin-bottom: 25px;
}

h5 {
  font-family: 'Indie Flower', cursive;
}

/* Styling the pagination container */
.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
}

/* Styling the individual pagination links */
.pagination a {
  margin: 5px;
  padding: 5px 10px;
  text-decoration: none;
  border: 1px solid darkblue;
  background-color: #F7F7F7;
  color: #333;
  border-radius: 5px;
}

/* Styling the currently active page link */
.pagination .current {
  margin: 5px;
  padding: 5px 10px;
  text-decoration: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: cornflowerblue;
  color: #fff;
}

/* Styling the "previous" and "next" links */
.pagination .previous, .pagination .next {
  font-weight: bold;
}

.navbar {
  border-radius: 30px;
  background: linear-gradient(to left, lavenderblush, lavender);
  opacity: 0.95;
  font-family: "Tahoma", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1.2em;
  margin-top: 15px;
  margin-bottom: 10px;
}

.dropdown-menu {
  border-radius: 10px;
  background: linear-gradient(to left, lavenderblush, lavender);
  margin-bottom: 5px;
}

.navbar-toggler {
  border-radius: 70px;
}

body {
  background: linear-gradient(to right, #ff85a2, #85a8ff);
  color: #333;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.nav-link:hover {
  color: olive;
}

.card {
  background-color: #eef2ff;
  box-shadow: 0 10px 20px rgba(130, 153, 241, 0.75), 0 10px 20px rgba(10, 10, 10, 0.76);

}

@media only screen and (max-width: 600px) {
  /* Styling the pagination container */
  .pagination {
    display: flex;
    justify-content: center;
    list-style: none;
  }

  /* Styling the individual pagination links */
  .pagination a {
    margin: 2px;
    padding: 2px;
    text-decoration: none;
    background-color: #f0f0f0;
    color: #333;
    height: 30px;
  }

  /* Styling the currently active page link */
  .pagination .current {
    margin: 2px;
    padding: 2px;
    text-decoration: none;
    background-color: cornflowerblue;
    color: #fff;
  }

  /* Styling the "previous" and "next" links */
  .pagination .previous, .pagination .next {
    font-weight: bold;
    margin: 1px;
    padding: 1px;
  }

  body {
    background: linear-gradient(to right, #ff85a2, #85a8ff);
    color: #333;

    height: 100vh;
  }
}

#scrollable {
  max-height: 40%; /* Adjust the height as needed */
  overflow-y: auto;
}

.navbar, .dropdown-menu {
  z-index: 1050; /* You may need to adjust this value */
}