<h1>This is a list of all the profiles</h1>
<div class="container pb-2">
<% @profiles.each do |profile| %>
  
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0 m-1">
    <div class="col-md-3 mb-0">
      <%= image_tag("#{profile.avatar}", alt: "#{profile.username.capitalize}'s photo", class: "img-fluid rounded-start rounded-end m-2 mb-2") %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= profile.username.capitalize %>, <%= profile.age(profile.dob) %></h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>

<% end %>

</div>
